#container{
    height: 500px;
    width: 500px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    border: 1px solid black;
}
h1{
    text-align: center;
}
button{
    font-size: 20px;
    margin: 10px;
}
#buttons{
    text-align: center;
}
#decorations{
    margin: auto;
    background-color: red;
    width: 680px;
    padding-bottom: 50px;
    padding-top: 5px;
}
